<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <main class="inicio">

        <div class="coracao">♡</div>

        <div class="cartao">



            </p>

            <button onclick="entrar()">
                Começar
                <span>→</span>
            </button>

        </div>

    </main>


    <script>

        function entrar() {

            window.location.href = "/senha";

        }

    </script>

</body>

</html>